@import "../config/variables.scss";

.navbar-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 80%;

  .nav-links {
    display: flex;
    align-items: center;

    .link {
      margin-left: 2rem;
      color: $dark-blue;
      border-bottom: 2px transparent solid;
    }

    .link:hover {
      border-bottom: 2px solid $dark-blue;
    }

    .link-active {
      border-bottom: 2px solid $dark-blue;
    }

    button {
      display: inline-flex;
      padding: 13px 24px;
      align-items: center;
      gap: 10px;
      margin-left: 2rem;
      height: unset;
      width: unset;
      cursor: pointer;
    }
  }
}
